<div id="root">
  <mat-sidenav-container>
    <mat-sidenav #sidenav>
      <app-menu
        (selectedPage)="changePage($event)"
        [currentPage]="page"
        *ngIf="page"
        (onCloseSidenav)="onClose($event, sidenav)"
        [loggedInUser]="loggedInUser"
        (onLogout)="logout($event)"
      >
      </app-menu>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <div class="hamburger-menu-wrapper">
          <button mat-icon-button (click)="onToggleSidenav(sidenav)">
            <mat-icon>menu</mat-icon>
          </button>
        </div>
        <div>CHEF VLOG</div>
        <div class="navigation-wrapper">
          <ul class="navigation-items">
            <li *ngIf="!(loggedInUser)"><a routerLink="/login">Login</a></li>
            <li *ngIf="!(loggedInUser)"><a routerLink="/register">Register</a></li>
            <li *ngIf="loggedInUser"><a routerLink="/main">Home</a></li>
            <li *ngIf="loggedInUser"><a routerLink="/my-posts">My Posts</a></li>
            <li *ngIf="loggedInUser"><a routerLink="/add-post">Create Post</a></li>
            <li *ngIf="loggedInUser"><a routerLink="/login" (click)="logout()">Logout</a></li>
          </ul>
        </div>
      </mat-toolbar>
      <div class="main_component">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

