#main-root{
  width: 100%;
}

.mat-mdc-card {
  padding: 20px;
  margin: 10px;
}

.mat-mdc-fab {
  margin: 15px;
  float: right;
}

a {
  text-decoration: none;
  color: white;
}

mat-card-actions {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding-left: 10px;
  width: 100%;
}
